@import 'tailwindcss';

@font-face {
	font-family: 'Rubik';
	src: url('/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900; /* Variable font supports a range */
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* variable */
	--border-3: 0.188rem;

	/* font family */
	--font-family-regular: 'Rubik', sans-serif;

	/* container */
	--spacing-3.3: 0.813rem;
	--spacing-5.2: 1.313rem;
	--spacing-35: 8.75rem;
	--spacing-55: 14.063rem;
	--spacing-141: 35.25rem;
	--spacing-container-home-desktop: 72.313rem;

	/* Color */
	--color-white: #ffffff;
	--color-black: #000000;
	--color-grey-500: #626c7f;
	--color-grey-50: #f4f6fa;
	--color-blue-950: #2d3949;
	--color-blue-900: #313e51;
	--color-blue-850: #3b4d66;
	--color-blue-500: #306aff;
	--color-blue-300: #abc1e1;
	--color-blue-100: #edf1f9;
	--color-blue-50: #ebf0ff;
	--color-green-500: #2fd887;
	--color-green-100: #e0fdef;
	--color-purple-600: #a729f5;
	--color-purple-100: #f6e7ff;
	--color-orange-400: #ff7e35;
	--color-orange-50: #fff5ed;
	--color-red-500: #ee5454;

	/* text */
	--text-preset-1: 9rem;
	--text-preset-1--line-height: 1;
	--text-preset-1--letter-spacing: 0rem;
	--text-preset-1--font-weight: 500;

	--text-preset-1-mobile: 5.5rem;
	--text-preset-1-mobile--line-height: 1.1;
	--text-preset-1-mobile--letter-spacing: 0rem;
	--text-preset-1-mobile--font-weight: 500;

	--text-preset-2-medium: 4rem;
	--text-preset-2-medium--line-height: 1;
	--text-preset-2-medium--letter-spacing: 0rem;
	--text-preset-2-medium--font-weight: 500;

	--text-preset-2-mobile-medium: 2.5rem;
	--text-preset-2-mobile-medium--line-height: 1;
	--text-preset-2-mobile-medium--letter-spacing: 0rem;
	--text-preset-2-mobile-medium--font-weight: 500;

	--text-preset-2-light: 4rem;
	--text-preset-2-light--line-height: 1;
	--text-preset-2-light--letter-spacing: 0rem;
	--text-preset-2-light--font-weight: 300;

	--text-preset-2-mobile-light: 2.5rem;
	--text-preset-2-mobile-light--line-height: 1;
	--text-preset-2-mobile-light--letter-spacing: 0rem;
	--text-preset-2-mobile-light--font-weight: 300;

	--text-preset-3: 2.25rem;
	--text-preset-3--line-height: 1.2;
	--text-preset-3--letter-spacing: 0rem;
	--text-preset-3--font-weight: 500;

	--text-preset-3-mobile: 1.25rem;
	--text-preset-3-mobile--line-height: 1.2;
	--text-preset-3-mobile--letter-spacing: 0rem;
	--text-preset-3-mobile--font-weight: 500;

	--text-preset-4: 1.75rem;
	--text-preset-4--line-height: 1;
	--text-preset-4--letter-spacing: 0rem;
	--text-preset-4--font-weight: 500;

	--text-preset-4-mobile: 1.125rem;
	--text-preset-4-mobile--line-height: 1;
	--text-preset-4-mobile--letter-spacing: 0rem;
	--text-preset-4-mobile--font-weight: 500;

	--text-preset-5-regular: 1.5rem;
	--text-preset-5-regular--line-height: 1.5;
	--text-preset-5-regular--letter-spacing: 0rem;
	--text-preset-5-regular--font-weight: 400;

	--text-preset-5-medium: 1.5rem;
	--text-preset-5-medium--line-height: 1.5;
	--text-preset-5-medium--letter-spacing: 0rem;
	--text-preset-5-medium--font-weight: 500;

	--text-preset-5-mobile: 0.875rem;
	--text-preset-5-mobile--line-height: 1.5;
	--text-preset-5-mobile--letter-spacing: 0rem;
	--text-preset-5-mobile--font-weight: 400;

	--text-preset-6: 1.25rem;
	--text-preset-6--line-height: 1.5;
	--text-preset-6--letter-spacing: 0rem;
	--text-preset-6--font-weight: 400;
}

html {
	@apply bg-grey-50 dark:bg-blue-900;
}
